# MongoDB Configuration
MONGODB_URI=your_mongodb_connection_string

# Gmail SMTP Configuration
GMAIL_USER=your_gmail_address@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password

# Server Configuration
PORT=5000
 
# Mailchimp Configuration
MAILCHIMP_API_KEY=your_mailchimp_api_key
MAILCHIMP_SERVER_PREFIX=usXX
MAILCHIMP_AUDIENCE_ID=your_audience_id
